/*=DESIGN------------------------------------------------*/
/**
 * Design values for:
 *
 ** LAYOUTS (width points) 
 **
 *** layout 1 < 480px ~ mobile ~ DEFAULT / SMALL
 *** layout 2 < 800px ~ tablet ~ MEDIUM
 *** layout 3 < 1000px ~ lap ~ BIG
 *** layout 4 > 1000px ~ desk ~ BIGGEST
 *
 ** FONTS (family, size, weight, color)
 ** minimum specification: body (p, h), a
 **
 *** Helvetica, Lato
 *** color1: #333
 *** weights: regular, bold
 *
 ** BACKGROUNDS (color) 
 *** white
 **/
/* le-raux.com specific proportions?  RATIOS
** design width/height 1000 x 1750 --> ratio aprox 0.57 
** original home tile (2) img size: 492x349 --> ratio aprox 1.40
** original detail tile (3) img size: 320x186 --> ratio aprox 1.72
** original detail tile (4) img size: 110x110 --> ratio: 1
** original gallery tile (3) img size: 320x320 --> ratio: 1
*/
/*=PRODUCTION --------------------------------------------*/
/**
 * Production CONSTANTS for:
 *
 ** LAYOUTS (width mark points) 
 **/
/*
** FONTS 
**/
/*not used, not loaded*/
/*not used, not loaded*/
/* if using ems */
/*
 ** COLORS 
 **/
/**
 * Production variables for:
 *
 ** FONTS p, h
 **/
/*
** FONT SIZES for DEFAULT = SMALL layout
*/
/*
** FONT SIZES for MEDIUM layout
*/
/*
** FONT SIZES for BIG layout
*/
/*
** FONT SIZES for BIGGER then BIG layout 
*/
/*
** FONT COLORS p, h
*/
/* values for all fonts in web */
/**
 * Production variables for:
 *
 ** margins and paddings 
 **/
/*
** margins, paddings and sizes/height/widht for DEFAULT = SMALL layout
*/
/* IMG PORTADA CENTERED OVERLAY */
/* TILE HEIGHTS */
/*
** margins and paddings for MEDIUM layout
*/
/* TILE HEIGHTS */
/*
** margins and paddings for BIG layout
*/
/*
** margins and paddings for BIGGEST layout
*/
/**
 * Production variables for:
 *
 ** links 
 **/
/* general */
/* small = default layout */
/* medium layout */
/* big layout */
/* biggest layout */
/* footer links */
/*=RESETS------------------------------------------------*/
* {
  padding: 0;
  margin: 0; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

/* 
** so frame doesn't float around when x-scrolling on pad 
*/
html {
  overflow-x: hidden; }

/*=CLASSES------------------------------------------------*/
.left {
  float: left; }

.right {
  float: right; }

.clearfix {
  clear: both; }

.hidden {
  display: none; }

.hidden-text {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  font-size: 0; }

.fullwidth {
  width: 100%;
  overflow-x: visible; }

.wrapper {
  max-width: 1000px;
  margin-left: 2%;
  margin-right: 2%; }

/*= TILE classes -------------------*/
.tile-wrapper {
  overflow: hidden;
  height: 100%;
  display: inline-block;
  max-height: 350px;
  margin: 1%;
  vertical-align: top; }

.tile-wrapper img {
  position: relative; }

.tile-link {
  height: inherit;
  width: 100%;
  display: inline-block; }

.text-tile li {
  line-height: 2; }

.text-tile hr {
  width: 15%;
  margin: 5.1% 0;
  border: 1px solid #333; }

/*= OVERLAYS classes -------------------*/
/* .overlay for general hover effect on imgs */
/* .border.overlay home bg img */
.overlay-parent {
  position: relative; }

.overlay {
  display: inline-block;
  position: absolute;
  height: inherit;
  width: 100%;
  top: 0;
  left: 0; }

.overlay .title {
  text-transform: uppercase;
  text-align: center;
  color: white;
  position: relative;
  top: 41%; }

.overlay hr {
  width: 10%;
  border: 1px solid white;
  margin: auto; }

.medium .overlay .title {
  font-size: 8vw; }

.small .overlay .title {
  font-size: 4vw; }

.tile-link .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  display: none; }

.tile-link:hover .overlay {
  display: inline-block; }

.border.overlay {
  width: 50%;
  top: 50%;
  left: 50%;
  margin-left: -25%;
  margin-top: -9%;
  text-align: center; }

.border .title {
  border: .7vw solid white;
  padding: 15px 5px 5px 5px;
  margin: 0;
  background: rgba(255, 255, 255, 0.2); }

/*= LINKS classes -------------------*/
/* links1 used in header navigation and inside tiles text links */
/* links2 used in footer img link */
/* links3 used in footer */
.links-1 a {
  padding-bottom: 2px;
  text-transform: uppercase;
  color: #333;
  text-decoration: none;
  font-size: 3.2vw; }

.links-1 a:hover {
  border-bottom: 2px solid #333; }

.links-1 a:visited {
  color: gray; }

.links-2 {
  display: inline-block;
  overflow: hidden; }

.links-2 li {
  width: 12vw;
  height: 12vw;
  max-width: 32px;
  max-height: 32px;
  float: left;
  margin-left: 15px; }

.links-2 li:first-child {
  margin-left: 0; }

.links-2 a {
  width: 32px;
  height: 32px;
  display: inline-block;
  overflow: hidden; }

.links-2 a:hover {
  background: black;
  opacity: .3; }

.links-2 img {
  width: 160px;
  height: 32px;
  position: relative; }

.links-2 li:nth-child(2) img {
  left: -32px; }

.links-2 li:nth-child(3) img {
  left: -64px; }

.links-2 li:nth-child(4) img {
  left: -96px; }

.links-2 li:nth-child(5) img {
  left: -128px; }

.links-3 a:visited {
  color: gray; }

/*=GRIDS ------------------------------*/
/* for DEFAULT = SMALL layout, 
** medium grid is fullwidth and changes to 2col with bigger layout
** small grid is 2col and changes to three with bigger layout
** col-4 is independent of layout
** col-3 is independent of layout
*/
.small {
  width: 49%; }

.small:nth-child(odd) {
  margin-left: 0;
  float: left;
  clear: right; }

.small:nth-child(even) {
  margin-right: 0;
  float: right; }

/* make sure grid is regular */
.small:nth-last-child(2):nth-child(even) {
  display: none; }

/* reset */
.col-3 {
  width: 30%; }

.col-4 {
  width: 23%;
  float: left; }

/*=BASE LAYOUT ------------------------------------------------*/
body {
  font: 62.5% Helvetica, Arial, "Lucida Grande", sans-serif, "Lato", sans-serif;
  color: #333;
  min-height: 100vh;
  background: url("../img/detail-top.jpg") no-repeat;
  background-size: 100% 3px;
  position: relative;
  height: 100%; }

header {
  padding: 2.5% 0; }

section {
  min-height: 30vh; }

#content {
  min-height: 65vh; }

footer.wrapper {
  min-height: 5vh;
  max-height: 20vh;
  margin-top: 350px;
  margin-bottom: 5%; }

footer p {
  margin: 0;
  font-size: 1.65vw; }

h1 {
  font-size: 5vw;
  margin: 0.67em 0; }

h2 {
  font-size: 4.5vw;
  margin: 0.5em 0; }

h3 {
  font-size: 4vw;
  margin: 0.4em 0; }

h4 {
  font-size: 3.5vw;
  margin: 3.5vw; }

p {
  font-size: 2.3vw;
  margin: 1em 0; }

img {
  width: 100%; }

/*=ESPECIFIC LAYOUT ------------------------------*/
/*= logo -------------------*/
#logo {
  width: 26%;
  max-width: 18vw; }

#logo a:hover {
  background: white;
  opacity: .8; }

/*= menu -------------------*/
#main-menu {
  position: relative;
  top: 5vw; }

#main-menu.links-1 a {
  margin-left: 1.7vw; }

/*= SECTIONS -------------------*/
/*= home -------------------*/
body.home {
  background: none; }

#img-portada {
  max-height: 58vw;
  min-height: 25vw;
  overflow-y: hidden;
  margin-bottom: 5vh;
  opacity: 0.7; }

#img-portada .overlay {
  width: 73%;
  top: 40%;
  left: 37%;
  margin-left: -24%;
  margin-top: -9%; }

#img-portada .title {
  font-size: 7.5vw;
  font-weight: 100; }

#home-gallery .tile-wrapper {
  height: 68vw; }

/*= gallery -------------------*/
/* center grid (un poco chapuza :/) */
#gallery {
  text-align: center; }

#gallery .tile-wrapper {
  text-align: initial; }

#gallery .text-tile {
  line-height: 1.8em; }

#gallery .overlay .title {
  top: 41%; }

/*= detail -------------------*/
#detail-img .tile-wrapper:last-child {
  margin-right: 0; }

#detail-img .featured {
  width: 98%;
  height: auto;
  float: left; }

#detail-description {
  clear: both;
  margin-top: 10vh; }

#detail-description > * {
  margin-left: 5vw; }

#detail-description .title {
  margin-top: 0;
  text-transform: uppercase; }

#detail-description .description {
  margin-top: 5vw;
  margin-right: 5vw; }

#detail-suggest {
  margin-top: 7vh;
  text-align: center;
  clear: both; }

#detail-suggest ul {
  height: 15vw;
  overflow: hidden; }

#detail-suggest .tile-wrapper {
  text-align: left;
  /* otherwise overlay gets out of position */ }

#detail-suggest > .title {
  /* only for first title */
  display: inline-block;
  margin-bottom: 2vh;
  font-weight: 400;
  text-transform: uppercase; }

#detail-suggest > .title hr {
  width: 45%;
  border: 1px solid black;
  margin: 1vh auto; }

/*=MEDIA QUERIES------------------------------------------------*/
/*= viewport MEDIUM ------------------------------*/
/* borrar luego pero need for ref: 480<vp<800*/
@media screen and (min-width: 480px) {
  body {
    background-size: 100% 5px; }

  h1 {
    font-size: 3vw; }

  h2 {
    font-size: 2.5vw; }

  h3 {
    font-size: 2.2vw; }

  h4 {
    font-size: 2vw; }

  .medium .overlay .title {
    font-size: 4vw; }

  .small .overlay .title {
    font-size: 3vw; }

  .col-3 .overlay .title {
    font-size: 2vw; }

  .centered.overlay {
    top: 55%; }

  /*= GRIDS -------------------*/
  /* 480 < vp < 800 MEDIUM mark */
  /** small grid is 3col **/
  .small:nth-child(n) {
    width: 32%;
    float: none;
    clear: both;
    margin: 1%; }

  /* 1st, 4th, 7th.. --> left column */
  .small:first-child,
  .small:nth-child(3n+1) {
    margin-left: 0;
    clear: left;
    float: left; }

  /* 3rd, 6th, 9th..  --> right column */
  .small:nth-child(3),
  .small:nth-child(3n+3) {
    margin-right: 0;
    float: right;
    clear: right; }

  /** medium grid is 2col **/
  .medium {
    width: 48%;
    float: left;
    margin: 1%; }

  .medium:last-child {
    float: right; }

  /* make sure grid is regular */
  .small:nth-last-child(2):nth-child(even) {
    display: inline-block; }

  /*= links and menu -------------------*/
  .links-1 a {
    font-size: 2vw; }

  #main-menu.links-1 a {
    margin-left: 2.3vw; }

  /*= home -------------------------*/
  #home-gallery .tile-wrapper {
    height: 32vw; }

  /*= detail -------------------------*/
  #detail-description {
    clear: none;
    margin-top: 1%; }

  #detail-suggest li:last-child {
    display: inline-block; }

  /*= gallery -------------------------*/
  #gallery .text-tile {
    line-height: initial; }

  /*= about -------------------------*/
  #about p {
    text-align: justify; }

  /*= footer --------------------------*/
  #social {
    float: right; } }
/*= viewport BIG ------------------------------*/
/* borrar luego pero need for ref: 800<vp<1000*/
@media screen and (min-width: 800px) {
  body {
    background-size: 100% 6px; }

  p {
    font-size: 1.8vw; }

  h1 {
    font-size: 2vw; }

  h2 {
    font-size: 1.8vw; }

  h3 {
    font-size: 1.5vw; }

  h4 {
    font-size: 1.2vw; }

  .centered.overlay {
    top: 57%; }

  .small .overlay .title {
    font-size: 3vw; }

  /*= logo -------------------*/
  #logo {
    width: 13%; }

  /*= links and menu -------------------*/
  .links-1 a {
    font-size: 1.5vw; }

  #main-menu {
    position: relative;
    top: 6vh; }

  /*= GRIDS -------------------*/
  /* 800 < vp < 1000 BIG mark */
  /** small grid is 4col **/
  .small:nth-child(n) {
    width: 23%;
    float: none;
    clear: both;
    margin: 1%; }

  /* 1st, 5th, 9th.. --> left column */
  .small:first-child,
  .small:nth-child(4n+1) {
    margin-left: 0;
    clear: left;
    float: left; }

  /* 2nd, 6th, 10th.. --> second column */
  .small:nth-child(2),
  .small:nth-child(4n+2) {
    float: none;
    clear: both; }

  /* 3rd, 7th, 11th..  --> third column */
  .small:nth-child(3),
  .small:nth-child(4n+3) {
    clear: both;
    float: none; }

  /* 4rth, 8th, 12th..  --> fourth column */
  .small:nth-child(4),
  .small:nth-child(4n+4) {
    margin-right: 0;
    clear: right;
    float: right; } }
/*= viewport BIGGEST ------------------------------*/
@media screen and (min-width: 1000px) {
  p {
    font-size: 1.5vw; }

  .wrapper {
    margin: auto; }

  .centered.overlay {
    top: 56%; }

  .small .overlay .title {
    font-size: 1.8vw; }

  #gallery li:last-child {
    /* display: none;*/
    /* quick fix -> update to conditional if more then actual tiles */ }

  #detail-suggest hr {
    margin: 3vh auto; } }

